<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Query result</title>
    <link rel="stylesheet" href="/styles/styles.css" type="text/css">
</head>
<body>
    <main>
        <h1>Cat data</h1>
        <p><span class="legend">Cat id:</span> <%= result.catId %></p>
        <p>Name: <%= result.name %> <%= result.breed %></p>
        <p>Lenght is <%= result.length %></p>
        <p>Year of Birth: <%= result.yearOfBirth %> </p>
        <a href="/"><button>Menu</button></a>
    </main>
</body>
</html>