<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/styles.css" type="text/css"
    <title>Query result</title>
</head>
<body>
    <main>
        <h1> Person data</h1>
        <p>Person ID: <%= result.personId %></p>
        <p>Name: <%= result.firstname %> <%= result.lastname %></p>
        <p>Department is <%= result.department %></p>
        <p>Salary: <%= result.salary %> €</p>
        <a href="/"><button>Menu</button></a>
    </main>
</body>
</html>